@(prods: List[Product])
    @import play.i18n._
    @import admin.mainPanel
    @mainPanel(Secured.getCurrentUser) {
        <h1>@Messages.get("home")</h1>
        @if(!prods.isEmpty) {
            <table data-toggle="table" border="solid">
                <thead>
                    <tr>
                        <th>Category Name</th>
                        <th>Product ID </th>
                        <th>MSRP</th>
                        <th>Supplier</th>
                        <th>Image</th>

                    </tr>
                </thead>
                @for(prod <- prods) {
                    <tr>
                        <td>
                        </td>
                        <td>
                        @prod.id
                        </td>
                        <td>
                        @prod.msrp
                        </td>
                        <td>

                        </td>
                        <td>
                            @if(prod.pictures != null && !prod.pictures.isEmpty) {
                               <img src="@routes.Assets.at(prod.pictures.get(0).filePath)">
                            }


                        </td>

                    </tr>
                }
            </table>
        }
    }


