@(prods: List[Product])
    @import play.i18n._
    @import admin.mainPanel
    @mainPanel(Secured.getCurrentUser) {
        <h1>@Messages.get("home")</h1>
        @if(!prods.isEmpty) {
            <table data-toggle="table" border="solid">
                <thead>
                    <tr>
                        <th>Category Name</th>
                        <th>Product ID </th>
                        <th>MSRP</th>
                        <th>Supplier</th>


                    </tr>
                </thead>
                @for(prod <- prods) {
                    <tr>
                        <td>
                        @prod.category.parentCategory.name,  @prod.category.name
                        </td>
                        <td>
                        @prod.id
                        </td>
                        <td>
                        @prod.msrp
                        </td>
                        <td>
                        @prod.supplier.companyName
                        </td>


                    </tr>
                }
            </table>
        }
    }


