@(customerForm: Form[Customer])
@import play.api.i18n
@import views.html.admin._
@import views.html.helper._;
@import views.html.util.signupTemplate
@import play.i18n._
@mainPanel(Secured.getCurrentUser) {
    <h1>@Messages.get("createCustomer")</h1>
    @helper.form(routes.Administration.createCustomer(), 'class -> "clearfix form-inline") {
        <div class="control-group">
            @signupTemplate(customerForm)
            @inputText(customerForm("phone"), '_help -> Messages.get("required"), '_label -> Messages.get("phone"), 'placeholder -> Messages.get("phone"), '_class -> "input-small")
            <fieldset>

                <legend>@Messages.get("address")</legend>
                @repeat(customerForm("addressList"), min = 1) { address =>
                    @inputText(customerForm(address.name.toString + ".address1"), '_help -> Messages.get("required"), '_label -> Messages.get("address1"), 'placeholder -> Messages.get("address1"), '_class -> "input-small")
                    @inputText(customerForm(address.name.toString + ".address2"), '_label -> Messages.get("address2"), 'placeholder -> Messages.get("address2"))
                    @inputText(customerForm(address.name.toString + ".city"), '_help -> Messages.get("required"), '_label -> Messages.get("city"), 'placeholder -> Messages.get("city"))
                    @inputText(customerForm(address.name.toString + ".state"), '_help -> Messages.get("required"), '_label -> Messages.get("state"), 'placeholder -> Messages.get("state"))
                    @inputText(customerForm(address.name.toString + ".postalCode"), '_help -> Messages.get("required"), '_label -> Messages.get("postalCode"), 'placeholder -> Messages.get("postalCode"))
                    @select(customerForm(address.name.toString + ".country"), helper.options(Secured.getListOfCountries), '_showConstraints -> false, '_label -> Messages.get("country"), 'style -> "width: 180px;", '_default -> "-- Choose a Country --")

                }

            </fieldset>
            <fieldset>
                <legend>@Messages.get("paymentInfo")</legend>
                @repeat(customerForm("creditCards"), min = 1) { creditCard =>
                    @helper.inputRadioGroup(customerForm(creditCard.name.toString + ".creditCardType"), helper.options(Secured.getCreditCardTypes), '_label -> Messages.get("Type"), '_class -> "radioGroup")
                    @helper.input(customerForm(creditCard.name.toString + ".creditCardNumber"), '_help -> Messages.get("required"), '_label -> Messages.get("creditCardNumber"), 'placeholder -> Messages.get("creditCardNumber")) { (id, name, value, args) =>
                        <input type="number" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
                    }
                    @helper.inputDate(customerForm(creditCard.name.toString + ".expDate"), '_label -> Messages.get("expiryDate"), '_help -> Messages.get("required"))
                }
            </fieldset>

            <div>
                <input type="submit" value="@Messages.get("submit")">
            </div>
        </div>
    }
}