@( form: Form[Category])
@import play.i18n._
    @import admin.mainPanel
@mainPanel(Secured.getCurrentUser) {
 <h1>@Messages.get("createCategory")</h1>
    @helper.form(routes.Administration.createUser()) {
        @if(form.hasErrors) {
            @for(error <- form("passwordNotMatch").errors) {
                <p class="error">@Messages.get(error.message)</p>
            }

        }
        <dl class="dl-horizontal">
            <dt>Label:</dt>
            <dd>
                Description of planet
            </dd>
            <dt>Label2:</dt>
            <dd>
                Description of planet
            </dd>
        </dl>
        <div>
            <input type="submit" value="Submit">
        </div>
    }
}
