@(form: Form[Category])
@import play.i18n._
@import admin.mainPanel

@mainPanel(Secured.getCurrentUser) {
    <h1>@Messages.get("createCategory")</h1>
    @helper.form(routes.Administration.createCategory(), 'id -> "catForm",  'class -> "clearfix form-inline", 'enctype -> "multipart/form-data") {
        @if(form.hasGlobalErrors) {
            <p class="error">@Messages.get(form.globalError.message)</p>
        }
        @helper.inputText(form("name"), '_help -> Messages.get("required"))
        <dl>
            <dt><label for="description">@Messages.get("description")</label></dt>
            <dd><textarea name="description">@form("description").value</textarea></dd>

        </dl>
        <div class="fileinput fileinput-new" data-provides="fileinput">
            <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                <img data-src="holder.js/100%x100%" alt="100%x100%" src="http://placehold.it/200x150" style="height: 100%; width: 100%; display: block;">
            </div>
            <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
            <div>
                <span class="btn btn-default btn-file">
                    <span class="fileinput-new"><i class="glyphicon glyphicon-picture"></i> @Messages.get("selectImage")</span>
                    <span class="fileinput-exists"><i class="glyphicon glyphicon-repeat"></i> @Messages.get("change")</span>
                    <input type="file" name="picture">
                </span>
                <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput"><i class="glyphicon glyphicon-remove"></i> @Messages.get("remove")</a>
            </div>
        </div>

        @helper.select(form("parentCategory"), helper.options(Category.parentCategoryOptions),
            '_showConstraints -> false, '_label -> Messages.get("categoryLevel", "1"), 'style -> "width: 180px;",
            '_default -> Messages.get("chooseCategory"), 'id -> "level1")

        @helper.select(form("parentCategory"), helper.options(),
            '_showConstraints -> false, '_label -> Messages.get("categoryLevel", "2"), 'style -> "width: 180px;",
            '_default -> Messages.get("chooseCategory"), '_id -> "level2Parent", 'id -> "level2")

        @helper.checkbox(form("active"))
        <div>
            <input type="submit" value="@Messages.get("submit")">
        </div>
    }
}
