@(showsubMenu: Boolean = true)
    @import play.i18n.Messages

    <ul class="dropdown-menu multi-level hidden-xs" role="menu" aria-labelledby="dropdownMenu" id="rootDropdown">
    @for(category <- CategoryMenu.getParentCategories) {
            @if(category.getSubCategories == null || category.getSubCategories.isEmpty) {
                <li>
                } else {
                <li class="dropdown-submenu ">
                }
            <a href="@routes.Application.categoryProduct(category.getRoutePath)" target="_top" title="@Messages.get(category.name)">@Messages.get(category.name)</a>
            @if(category.getSubCategories != null && !category.getSubCategories.isEmpty && showsubMenu) {
                <ul class="dropdown-menu">
                @for(subCate <- category.getSubCategories) {
                    @if(subCate.getSubCategories == null || subCate.getSubCategories.isEmpty) {
                        <li>
                        } else {
                        <li class="dropdown-submenu ">
                        }

                    <a href="@routes.Application.categoryProduct(subCate.getRoutePath)" target="_top" title="@Messages.get(subCate.name)">@Messages.get(subCate.name)</a>
                    @if(subCate.getSubCategories != null && !subCate.getSubCategories.isEmpty) {
                        <ul class="dropdown-menu">
                        @for(sub2 <- subCate.getSubCategories) {
                            <li>
                                <a href="@routes.Application.categoryProduct(sub2.getRoutePath)" target="_top" title="@Messages.get(sub2.name)">@Messages.get(sub2.name)</a>
                            </li>
                        }
                        </ul>
                    }

                </li>
                }
                </ul>
            }
        </li>
    }
    </ul>