@(showsubMenu: Boolean = true)
    @import play.i18n.Messages

    <ul class="dropdown-menu multi-level hidden-xs" role="menu" aria-labelledby="dropdownMenu" id="rootDropdown">
    @for(category <- CategoryMenu.getCategories) {
        @if(category.parentCategory == null) {
            @if(category.subCategories == null || category.subCategories.isEmpty) {
                <li>
                } else {
                <li class="dropdown-submenu ">
                }
            <a href="@routes.Application.categoryProduct(category.getRoutePath)" target="_top" title="@Messages.get(category.name)">@Messages.get(category.name)</a>
            @if(category.subCategories != null && !category.subCategories.isEmpty && showsubMenu) {
                <ul class="dropdown-menu">
                @for(subCate <- category.subCategories) {
                    @if(subCate.subCategories == null || subCate.subCategories.isEmpty) {
                        <li>
                        } else {
                        <li class="dropdown-submenu ">
                        }

                    <a href="@routes.Application.categoryProduct(subCate.getRoutePath)" target="_top" title="@Messages.get(subCate.name)">@Messages.get(subCate.name)</a>
                    @if(subCate.subCategories != null && !subCate.subCategories.isEmpty) {
                        <ul class="dropdown-menu">
                        @for(sub2 <- subCate.subCategories) {
                            <li>
                                <a href="@routes.Application.categoryProduct(sub2.getRoutePath)" target="_top" title="@Messages.get(sub2.name)">@Messages.get(sub2.name)</a>
                            </li>
                        }
                        </ul>
                    }

                </li>
                }
                </ul>
            }
        </li>
        }
    }
    </ul>