@(currentPage: com.avaje.ebean.Page[Product],
        currentSortBy: String, currentOrder: String, currentFilter: String, listOption : Boolean)

@import org.joda.time.DateTime
@import play.libs.Json
@import play.i18n.Messages

<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/productGridView.css")">
    @today= @{new DateTime();}
<div class="dynamic">
    <div class="row productGridView" dir="ltr">
    @for(product <- currentPage.getList) {
        <div class="col-sm-4 item">
            <div class="item-inner">
                <div class="product-wrapper">
                    <div class="thumb-wrapper">
                        @if(product.date.compareTo(today.minusDays(7)) >= 0) {
                            <div class="new-label new-top-right">
                            @Messages.get("new")
                            </div>
                        }
                        @if(product.discountAvailable) {
                            <div class="sale-label new-top-left">
                            @Messages.get("sale")
                            </div>
                        }
                    <a class="thumb flip" data-fancybox-type="ajax">
                        <span class="face">
                            <img alt="@product.images.get(0).caption" src="@routes.Assets.at(product.images.get(0).filePath)">
                        </span>
                        <span class="face back">
                            @if(product.images.size() > 1) {
                                <img alt="@product.images.get(1).caption" title="@product.images.get(1).caption" src="@routes.Assets.at(product.images.get(1).filePath)">
                            } else {
                                <img alt="@product.images.get(0).caption" src="@routes.Assets.at(product.images.get(0).filePath)">
                            }
                            <span class="quick-view">
                                <span><i>&nbsp;</i> @Messages.get("quickReview")</span>
                            </span>
                        </span>
                    </a>
                    </div> <!--thumb-wrapper-->
                    <div class="actions">
                        <span class="add-to-links">
                            <a href="#" class="link-wishlist" title="@Messages.get("addToWishlist")">
                                <span>@Messages.get("addToWishlist")</span>
                            </a>
                            <a href="#" class="link-compare" title="@Messages.get("addToCompare")">
                                <span>@Messages.get("addToCompare")</span>
                            </a>
                        </span> <!--add-to-links-->
                    </div> <!--actions-->
                </div> <!--product-wrapper-->
                <div class="item-info">
                    <div class="info-inner">
                        <div class="item-title">
                            <a href="#" title="@product.productName">
                            @Messages.get(product.productName)
                            </a>
                        </div> <!--item-title-->
                        <div class="item-content">
                            <div class="ratings">
                                <div class="rating-box">
                                    <div class="rating" style="width: 23%"></div>
                                </div> <!--rating-box-->
                            </div> <!--ratings-->
                            <div class="item-price">
                            @if(product.discountAvailable) {
                                <div class="price-box">
                                    <p class="old-price">
                                        <span class="price-label">@Messages.get("regularPrice"):</span>
                                        <span itemprop="price" class="price" id="old-price-57">
                                            $@(product.unitPriceAfterDiscount)
                                        </span>
                                    </p>

                                    <p class="special-price">
                                        <span class="price-label">@Messages.get("specialPrice"):</span>
                                        <span class="price" id="product-price-57">
                                            $79.00                </span>
                                    </p>


                                </div>
                            } else {
                                <div class="price-box">
                                    <span class="regular-price" id="product-price-2">
                                        <span class="price">$55.00</span>                                    </span>

                                </div>
                            }
                            </div>
                        </div> <!--item-content-->
                    </div> <!--info-inner-->
                    <div class="actions">
                        <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation ( 'http://demo.magikthemes.com/index.php/lambylavender/checkout/cart/add/uenc/aHR0cDovL2RlbW8ubWFnaWt0aGVtZXMuY29tL2luZGV4LnBocC9sYW1ieWxhdmVuZGVyLw,,/product/55/form_key/1b9gBPV7riNbZ8JK/' )"><span>@Messages.get("addToCart")</span></button>

                    </div> <!--actions-->
                </div> <!--item-info-->
            </div> <!--item-inner-->
        </div>
    }
    </div>
    @*<script lang="text/javascript">*@
    @*zarestApp.controller('products', ['$scope',*@
    @*function($scope) {*@
    @*$scope.products = @{Html(Json.toJson(currentPage.getList).toString)};*@
    @*$scope.number = 5;*@
    @*$scope.getNumber = function(num) {*@
    @*return new Array(num);*@
    @*}*@
    @*}]);*@

    @*</script>*@
    @*<div>*@
    @*<ul ng-controller="products">*@
    @*<li ng-repeat="i in products track by $index">*@
    @*{{ i.id }}*@
    @*</li>*@
    @*</ul>*@
    @*</div>*@
</div>



