/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-bottom: 40px;
    color: #5a5a5a;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 400px;
    margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 400px;
    background-color: #ccc;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    /*min-width: 100%; */
    height: 400px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}


/* Featurettes
------------------------- */



/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}



/*--------------------------------------------*/

html {
    background: #fff
}
:focus {
    outline: none;
}

/*========== Common Styles ==========*/
/** {*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/
/*ul, ol {*/
    /*list-style: none outside none;*/
/*}*/

/*label, input, button, select, textarea {*/
    /*font-family: Arial, Helvetica, sans-serif;*/
/*}*/
a {
    color: #282828;
    text-decoration: none;
}
a:hover, a:focus {
    color: #333;
    text-decoration: none;
}
/*h1, h2, h3, h4, h5, h6, .block .block-title, .slide-title {*/
    /*color: #333;*/
    /*font-weight: normal;*/
    /*font-family: Arial, Helvetica, sans-serif;*/
    /*margin: 0;*/
/*}*/
/*h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .block .block-title a, .slide-title a {*/
    /*color: #333;*/
/*}*/
/*h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, .block .block-title a:hover, h1 a:hover, h2 a:focus, h3 a:focus, h4 a:focus, h5 a:focus, h6 a:focus, .block .block-title a:focus, .slide-title a:hover, .slide-title a:focus {*/
    /*color: #333;*/
/*}*/
/* Tools ============*/
.hidden {
    display: block !important;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 0 !important;
    line-height: 0 !important;
    width: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
}
.nobr {
    white-space: nowrap !important;
}
.wrap {
    white-space: normal !important;
}
.a-left {
    text-align: left !important;
}
.a-center {
    text-align: center !important;
}
.a-right {
    text-align: right !important;
}
.v-top {
    vertical-align: top;
}
.v-middle {
    vertical-align: middle;
}
.f-left, .left {
    float: left !important;
}
.f-right, .right {
    float: right !important;
}
.f-none {
    float: none !important;
}
.f-fix {
    float: left;
    width: 100%;
}
.no-display {
    display: none;
}
.no-margin {
    margin: 0 !important;
}
.no-padding {
    padding: 0 !important;
}
.no-bg {
    background: none !important;
}
legend {
    display: none;
}
img {
    border: none;
}


/*============ BreadCrumbs ==========*/
.breadcrumbs {
    padding: 10px 0px 10px 0px;
    margin: auto;
    font-size: 11px;
    background: #f5f5f5;
    width: 100%
}
.breadcrumbs .inner {
    margin: auto;
    width: 1170px;
}
.breadcrumbs ul {
    padding: 0;
    margin: 0;
}
.breadcrumbs li {
    display: inline;
}
.breadcrumbs strong {
    font-weight: 900;
    color: #333 !important;
}
.breadcrumbs span {
    display: inline-block;
    margin: 0 5px 0 5px;
    color: #ccc;
    font-size: 13px;
}
.breadcrumbs a {
    color: #666;
}
.breadcrumbs a:hover {
    color: #333;
}

/*============ View Type: Grid ============*/
/*============ View Type: Grid ============*/
.products-grid {
    list-style: none outside none;
    text-align: center;
}
.products-grid .first {
}
.products-grid .item {
    float: left;
    background: #FFF;
    width: 268px;
    min-height: 420px;
    padding: 0;
    margin: 20px 28px 8px 0;
    overflow: hidden;
}
.products-grid .item.last {
    margin: 20px 0 8px 0;
}
.products-grid .last {
}
.products-grid .item.show-addtocart {
    margin-top: 37px;
}
.products-grid .item .item-inner {
    position: relative;
}
.products-grid .item .item-inner .item-img {
    position: relative;
}
.products-grid .item .item-inner .item-img .ico-product {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 2;
    background: #de44c3;
    padding: 4px 20px 8px;
    color: #FFF;
    font-size: 150%;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
}
.products-grid .item .item-inner .item-img .ico-product strong {
    font-weight: 900;
}
.products-grid .item .item-inner .item-img .ico-product.ico-sale {
    background: #7ebf38;
    right: 10px;
    left: auto;
}
.products-grid .item .item-inner .item-img .cart-wrap {
    position: absolute;
    top: 280px;
    width: 100%;
    height: 36px;
    z-index: 3;
    text-align: center;
}
.products-grid .item .item-inner .item-img .cart-wrap .btn-cart {
    font-size: 116.7%;
    text-transform: none;
    position: relative;
    height: 34px;
    padding: 0 17px 0 47px;
}
.products-grid .item .item-inner .item-img .cart-wrap .btn-cart:before {
    position: absolute;
    content: "";
    width: 38px;
    height: 34px;
    top: -2px;
    left: 10px;
    background: url(../images/ico-cart.png) no-repeat -38px top;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
.products-grid .item .item-inner .item-img .cart-wrap .btn-cart:hover:before {
    background-position: 0px top;
    -o-animation: shake 2s infinite linear;
    -moz-animation: shake 2s infinite linear;
    -webkit-animation: shake 2s infinite linear;
    animation: shake 2s infinite linear;
}
.products-grid .item .item-inner .item-img .item-img-info {
    text-align: center;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    position: relative;
    overflow: hidden;
    border-bottom: 0px solid #EFEFEF;
}
.products-grid .item .item-inner .item-img .item-img-info a.product-image {
    display: inline-block;
    width: 100%;
}
.products-grid .item .item-inner .item-img .item-img-info a.product-image img {
    width: 100%;
    height: 100%;
    line-height: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.products-grid .item .item-inner .item-img .item-img-info a.product-image img:hover {
    opacity: 0.5;
    cursor: pointer;
    transform: scale(1.3);
    -ms-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -o-transform: scale(1.3);
}
/*.products-grid .item .item-inner .item-img .item-img-info a.product-image:before {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 1;
	content: "";
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all 0.4s ease-out 0.2s;
	-moz-transition: all 0.4s ease-out 0.2s;
	-o-transition: all 0.4s ease-out 0.2s;
	transition: all 0.4s ease-out 0.2s;
	background-color: #eee;
}*/
.products-grid .item .item-inner .item-img .item-img-info a.product-image .img-main {
    display: inline;
}
.products-grid .item .item-inner .item-img .item-box-hover {
    z-index: 2;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
    position: absolute;
    width: 100%;
    height: 38px;
    bottom: 0px;
    top: -55px;
    overflow: hidden;
    opacity: 0;
}
.products-grid .item .actions .add-to-links a.link-wishlist {
    left: -142px;
    opacity: 0;
    position: absolute;
    margin-top: -35px;
}
.products-grid .item:hover .actions .add-to-links a.link-wishlist {
    left: 42px;
    opacity: 8;
    position: absolute;
    margin-top: -35px;
}
.products-grid .item .actions .add-to-links a.link-compare {
    left: -106px;
    opacity: 0;
    position: absolute;
    z-index: 100;
    margin-top: -35px;
}
.products-grid .item:hover .actions .add-to-links a.link-compare {
    left: 6px;
    opacity: 8;
    z-index: 100;
    position: absolute;
    margin-top: -35px;
}
.products-grid .item .item-inner .item-img .item-box-hover.number-buttom3 .box-inner {
    width: 183px;
}
.products-grid .item .item-inner .item-img .item-box-hover.number-buttom2 .box-inner {
    width: 122px;
}
.products-grid .item .item-inner .item-img .item-box-hover.number-buttom1 .box-inner {
    width: 61px;
}
.products-grid .item .item-inner .item-img .item-box-hover .box-inner {
    /*height: 51px;
	margin: 15px auto 0;*/}
.products-grid .item .item-inner .item-img .item-box-hover .box-inner .magik-btn-quickview, .products-grid .item .item-inner .item-img .item-box-hover .box-inner ul.add_to_cart li a {
    width: 48px;
    height: 48px;
    border: 0px solid #FFF;
    position: relative;
    display: block;
    padding: 0 0;
    margin: 0 5px;
    background-color: transparent;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.products-grid .item .item-inner .item-img .item-box-hover .box-inner .magik-btn-quickview:hover, .products-grid-home .item .item-inner .item-img .item-box-hover .box-inner ul.add_to_cart li a:hover {
}
.products-grid .item .item-inner .item-img .item-box-hover .box-inner .quickview-wrap {
    float: left;
    margin-left: 52px
}
.products-gride .item .item-inner .item-img .item-box-hover .box-inner .quickview-wrap .magik-btn-quickview span {
    display: none;
}
.products-grid .item .item-inner .item-img .item-box-hover .box-inner .quickview-wrap .magik-btn-quickview:before {
    background-position: left -196px;
}
.products-grid .item .item-inner .item-img .item-box-hover .box-inner .quickview-wrap .magik-btn-quickview:hover:before {
    background-position: left -245px;
    background-color: #223D62
}
.products-grid- .item .item-inner .item-img .item-box-hover .box-inner .actions {
    float: left;
    height: 51px;
    display: block;
}
.products-grid .item .item-inner .item-img .item-box-hover .box-inner .actions ul.add_to_cart {
    margin: 0 0;
    float: left;
    list-style: none;
    height: 100%;
    display: block;
}
.products-grid .item .item-inner .item-img .item-box-hover .box-inner .actions ul.add_to_cart li {
    float: left;
    display: block;
}
.products-grid .item .item-inner .item-img .item-box-hover .box-inner .actions ul.add_to_cart li .cart_icon:hover:before {
    background-position: left -49px;
    background-color: #333333
}
.products-grid .item .item-inner .item-img .item-box-hover .box-inner .actions ul.add_to_cart li .link-compare:before {
}
.products-grid .item .item-inner .item-img .item-box-hover .box-inner .actions ul.add_to_cart li .link-compare:hover:before {
}
.products-grid .item .item-inner .item-info {
    text-align: center;
}
.products-grid .item .item-inner .item-info .info-inner {
    border: 0px solid #fff;
    border-top: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.products-grid .item .item-inner .item-info .info-inner .item-content .no-rating, .products-grid .item .item-inner .item-info .info-inner .item-content .ratings {
    margin: 0 0;
}
.products-grid .item .item-inner .item-info .info-inner .item-content .no-rating .rating-box, .products-grid .item .item-inner .item-info .info-inner .item-content .ratings .rating-box {
    float: none;
    margin: 0 0;
}
.products-grid .item .item-inner .item-info .info-inner .item-content .no-rating .rating-links, .products-grid .item .item-inner .item-info .info-inner .item-content .ratings .rating-links {
    display: none;
}
.products-grid .item .item-inner .item-info .info-inner .item-title {
    margin-bottom: 5px;
    padding-top: 16px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.products-grid .item .item-inner .item-info .info-inner .item-title a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #000;
}
.products-grid .item .item-inner .item-info .info-inner .item-title a:hover {
    color: #967adc;
}
.products-grid .item:hover .item-inner .item-img .cart-wrap .btn-cart {
    border-color: #967adc;
    background-color: #967adc;
    color: #FFF;
}
.products-grid .item:hover .item-inner .item-img .cart-wrap .btn-cart:before {
    background-position: 0px top;
}
.products-grid .item:hover .item-inner .item-img .item-img-info {
    border-color: #fff;
}
.products-grid .item:hover .item-inner .item-img .item-img-info a.product-image:before {
    left: 0px;
    top: 0px;
    margin: 0 0;
    background: #eee;
    opacity: 0.8
}
.products-grid .item:hover .item-inner .item-img .item-box-hover {
    visibility: visible;
    opacity: 1;
    left: 0px;
    bottom: 0px;
    top: 150px;
}
.products-grid .item:hover .item-inner .item-info .info-inner {
    border-color: #fff;
    background: #fff;
    opacity: 0.8
}
.products-grid .item:hover .item-inner .item-info .info-inner .item-title a {
    color: #000;
}
.products-grid .add-to-links {
}
.products-grid .add-to-links a span {
    display: none;
}
.link-wishlist, .link-compare {
    color: #666;
    text-shadow: none;
    border: none;
    box-shadow: none;
}
.link-wishlist:hover, .link-compare:hover {
    color: #666;
    text-shadow: none;
    border: none;
    box-shadow: none;
    background: none;
    padding: 0
}
.link-wishlist, .link-compare, .link-friend, .link-edit {
    padding: 0;
    background: none
}
.products-grid .actions .add-to-links a.link-wishlist:before {
    content: "\f004";
}
.products-grid .actions .add-to-links a.link-compare:before {
    content: "\f012";
}
.products-grid .actions .add-to-links a.link-wishlist, a.link-compare {
    color: #fff;
    font-family: 'FontAwesome';
    font-size: 13px;
    font-weight: normal;
    margin: 0;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    padding: 6px 8px;
    line-height: 17px;
    background-color: #967adc;
}
.products-grid .actions .add-to-links a.link-wishlist:hover, a.link-compare:hover {
    font-family: 'FontAwesome';
    font-size: 13px;
    font-weight: normal;
    margin: 0;
    padding: 6px 8px;
    text-decoration: none;
    color: #fff !important;
    display: inline-block;
    background-color: #000;
}

.price, .breadcrumbs li strong, .product-details span.price, #recently-viewed-items .price-box .special-price .price, #recently-viewed-items .price-box .regular-price .price, .availability.out-of-stock span {
    color: #FF4C4C;
}

.products-grid .special-price .price {
    font-size: 12px;
}
/*============ Rating ============*/
.no-rating {
    margin: 0;
}
.no-rating a {
    color: #000;
}
.ratings {
    font-size: 11px;
    line-height: normal;
    margin: 2px 0;
}
.ratings strong {
    float: left;
    margin: 1px 3px 0 0;
}
.ratings .rating-links {
    margin: 0;
    display: inline-block;
}
.ratings .rating-links a {
    margin: 0;
    text-decoration: none;
    color: #666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px
}
.ratings .rating-links .separator {
    margin: 0 2px;
}
.ratings dt {
}
.ratings dd {
}
.rating-box {
    width: 76px;
    height: 15px;
    font-size: 0;
    line-height: 0;
    background: url(../images/bkg_rating.png) 0 0 repeat-x;
    text-indent: -999em;
    overflow: hidden;
}
.rating-box .rating {
    float: left;
    height: 15px;
    background: url(../images/bkg_rating.png) 0 100% repeat-x;
}
.ratings .rating-box {
    margin-right: 8px;
    display: inline-block;
}
.ratings .amount {
}
.ratings-table th, .ratings-table td {
    font-size: 11px;
    line-height: 1.15;
    padding: 3px 0;
}
.ratings-table th {
    font-weight: 900;
    padding-right: 8px;
}
/*============ Price ============*/
.price {
    font-size: 12px;
    color: #333;
    white-space: nowrap !important;
}
.price-box {
    margin: 6px 0;
}
/*============ Regular price ============*/
.regular-price {
    display: inline
}
.regular-price .price {
    font-weight: 900;
    font-size: 12px;
    color: #967adc;
}
.block .regular-price, .block .regular-price .price {
    color: #000;
}
.price-box .price-from .price {
    font-weight: 900;
    font-size: 12px;
    color: #333; line-height: normal;
}
.price-box .price-to .price {
    font-weight: 900;
    font-size: 12px;
    color: #333;
}
.price-box .minimal-price .price {
    font-weight: 900;
    font-size: 12px;
    color: #333;
}
/*============ Old price ============*/
.old-price .price-label {
    white-space: nowrap;
    color: #999;
    display: none;
}
.old-price {
    display: inline;
    margin-right: 15px;
}
/* Old price */
.old-price .price-label {
    color: #777777;
    display: none;
    white-space: nowrap;
}
.old-price .price {
    color: #777777!important;
    font-size: 13px;
    font-weight: normal;
    text-decoration: line-through;
    margin-right: 6px;
}
.latest-product .old-price .price-label {
    display: none;
}
/* Special price */
.special-price {
    margin: 0;
    padding: 3px 0;
    display: inline;
}
.special-price .price-label {
    color: #666;
    display: none;
    font-size: 13px;
    font-weight: 400;
    white-space: nowrap;
}
.special-price .price {
    font-size: 12px;
    color: #967adc;
    font-weight: 900;
}
.special-price .price-label {
    font-size: 13px;
    font-weight: 900;
    white-space: nowrap;
    color: #666;
    display: none;
}
.latest-product .special-price .price-label {
    display: none;
}
/* Minimal price (as low as) */
.minimal-price {
    margin: 0;
}
.minimal-price .price-label {
    white-space: nowrap;
}
.minimal-price-link {
    display: inline;
}
.minimal-price-link .label {
}
/*============ Special price ============*/

/*============ Price range ============*/
.price-from {
    margin: 0;
    font-size: 12px;
    margin-right: 10px;
    display: inline-block;
}
.price-from .price-label {
    font-weight: normal;
    white-space: nowrap;
    color: #909090;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.price-to {
    margin: 0;
    font-size: 12px;
    margin-left: 4px;
    display: inline-block
}
.price-to .price-label {
    font-weight: normal;
    white-space: nowrap;
    color: #909090;
}
/*============ Minimal price (as low as) ============*/
.minimal-price {
    margin: 0;
}
.minimal-price .price-label {
    font-weight: normal;
    white-space: nowrap;
    color: #909090;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.minimal-price-link {
}
.minimal-price-link .label {
    color: #909090;
    margin-left: 4px;
}
.minimal-price-link .price {
    font-weight: 900;
    color: #333;
    font-size: 12px;
}
small {
    font-size: 85%;
    font-weight: normal;
    text-transform: lowercase;
    color: #999999;
}
.product-name {
    color: #333;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-decoration: none;
    display: block;
    line-height: normal;
}
a:hover.product-name {
    color: #000;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none;
    line-height: 20px;
    text-transform: uppercase;
}
.sidebar .product-name a {
    text-transform: none;
    color: #333333;
}
.sidebar .product-name a:hover {
    text-transform: none;
    color: #000;
}
/*============ Category Page ============== */
.category-title {
    border-bottom: 1px solid #ddd;
    margin: 0 0 10px;
}
.category-image {
    display: block;
    margin: 0 auto;
    position: relative;
}
.category-products {
    padding-bottom: 5px;
}
.cat-img-title {
    display: block;
    position: absolute !important;
    bottom: 0;
    width: 80%;
    margin: 6%;
    padding: 0;
    top: 66%;
    height: 70px !important;
}
.cat-img-title.cat-box {
    margin: 0;
    width: 50%;
    text-align: center;
    left: 25%;
    top: 30%;
    background: rgba(0, 0, 0, 0.5);
    padding: 30px
}
.cat-img-title.cat-bg .cat-heading, .cat-img-title.cat-bg p {
    color: #FFFFFF;
}
.cat-img-title .cat-heading {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
}
.cat-img-title p {
    font-size: 12px;
}
.cat-img-title .cat-heading, .cat-img-title p {
    transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    margin-bottom: 5px;
}
.cat-img-title p {
    clear: left;
    font-size: 12px;
    line-height: 1em;
    margin-bottom: 1px;
    padding: 0.25em 0.5em;
}
/*============ View Type: List ============*/
.products-list {
}
.products-list .product-name {
    text-align: left;
    margin: 0px 0 5px
}
.products-list .product-name a {
    font-size: 15px;
    color: #000;
    font-weight: normal;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}
.products-list .item.first {
    padding: 20px;
    overflow: hidden;
    margin-bottom: 30px;
    border: 1px solid #EFEFEF;
}
.products-list .item {
    padding: 20px;
    overflow: hidden;
    margin: 15px 0 20px !important;
    border: 1px solid #EFEFEF;
}
.products-list .item a {
}
.products-list .item a:hover {
    color: #000;
    transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}
.separator {
    color: #999
}
.products-list .item h3 {
    font-weight: normal;
    color: #353535;
    padding-bottom: 2px;
}
.products-list .item h3 a {
    font-weight: normal;
    font-size: 12px;
    color: #407CBF;
    text-decoration: none
}
.products-list .item h3 a:hover {
    font-weight: normal;
    font-size: 12px;
    color: #333;
    text-decoration: underline
}
ol.products-list {
    padding: 0;
    margin: 0;
    float: left
}
.products-list .last {
    /*border-bottom:none !important;*/
}
li .list {
    border-bottom: none;
}
.products-list .product-image {
    float: left;
}
.products-list .product-shop {
    float: right;
    width: 560px;
    text-align: left;
    margin-left: 25px;
}
.products-list .product-shop .desc {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
    margin-top: 5px;
    color: #666
}
.products-list .product-shop p {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    line-height: 1.5em;
}
.products-list .product-shop p.old-price {
    margin-right: 4px;
}
.products-list .product-shop .price-box {
    margin: 10px 0;
}
.products-list .desc .link-learn {
    font-size: 13px;
    font-weight: normal;
    margin-top: 5px;
}
.products-list .add-to-links {
    padding-left: 2px;
}
.products-list .add-to-links a span {
    display: none;
}
.link-wishlist, .link-compare {
    color: #666;
    text-shadow: none;
    border: none;
    box-shadow: none;
}
.link-wishlist:hover, .link-compare:hover {
    color: #666;
    text-shadow: none;
    border: none;
    box-shadow: none;
    background: none;
    padding: 0
}
.link-wishlist, .link-compare, .link-friend, .link-edit {
    padding: 0;
    background: none
}

ul.products-grid {
    padding: 0;
    margin: 0;
}
.products-grid .actions button.button.btn-cart {
    background: #fff;
    border: 1px solid #ddd;
    margin: 10px 8px 0 8px;
    padding: 9px 10px 9px 10px;
    color: #333;
    line-height: 14px;
}
.products-grid .item:hover .actions button.button.btn-cart {
    background: #967adc;
    border: 1px solid #967adc;
    margin: 10px 8px 0 8px;
    padding: 9px 10px 9px 10px;
    color: #FFFFFF;
}
.products-grid .actions button.button.btn-cart span {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    padding: 0 8px;
    font-weight: bold;
    margin-left: 0;
    text-transform: uppercase
}
.products-grid .item .item-inner .item-img .item-box-hover .box-inner .product-detail-bnt a.button.detail-bnt {
    background: rgba(0, 0, 0, 0.6);
    margin: 0 11px 0 8px;
    padding: 10px 10px 10px 8px;
    color: #fff;
    transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
    border: none;
    display: block
}
.product-detail-bnt a.button.detail-bnt:hover {
    background: #967adc !important;
    margin: 0 11px 0 8px;
    padding: 10px 10px 10px 8px;
    color: #FFFFFF !important;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
a.button.detail-bnt span {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    padding: 0 2px;
    font-weight: bold;
}



.add-to-links .separator {
    display: none;
}


/** Logos Silder *******************************************************************************************************/
.brand-logo {
    margin: auto;
    background-color: #f5f5f5;
    overflow: hidden;
}
.jcarousel-skin-tango {
    border-bottom: 0 solid #DDDDDD;
    margin: 25px auto;
    padding: 0;
    width: 1170px;
}
.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal {
    height: 48px;
    margin: 0 18px;
    width: 1110px;
}
.jcarousel-skin-tango .jcarousel-item {
    height: 49px;
}
.jcarousel-skin-tango .jcarousel-item-horizontal {
    margin: 0 15px;
    padding: 0 15px;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
    margin-left: 10px;
    margin-right: 0;
}
.jcarousel-skin-tango .jcarousel-next-horizontal:after {
    font-family: 'FontAwesome';
    font-weight: normal;
    content: "\f105";
}
.jcarousel-skin-tango .jcarousel-next-horizontal {
    font-style: normal;
    font-weight: normal;
    speak: none;
    -webkit-font-smoothing: antialiased;
    text-transform: none;
    font-size: 30px;
    padding: 0px 2px;
    color: #666;
    cursor: pointer;
    position: absolute;
    top: 1px;
    right: 0;
}
.jcarousel-skin-tango .jcarousel-next-horizontal:hover {
    color: #000;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal:after {
    font-family: 'FontAwesome';
    font-weight: normal;
    content: "\f104";
}
.jcarousel-skin-tango .jcarousel-prev-horizontal {
    font-style: normal;
    font-weight: normal;
    speak: none;
    -webkit-font-smoothing: antialiased;
    text-transform: none;
    font-size: 30px;
    padding: 0px 2px;
    color: #666;
    cursor: pointer;
    left: 0px;
    position: absolute;
    top: 1px;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal:hover {
    color: #000;
}
.jcarousel-skin-tango .jcarousel-next-horizontal {
    cursor: pointer;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal {
    cursor: pointer;
}
.jcarousel-skin-tango .jcarousel-container {
}
.jcarousel-skin-tango .jcarousel-direction-rtl {
    direction: rtl;
}
.jcarousel-skin-tango .jcarousel-container-horizontal {
    padding: 0;
}
.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}
.jcarousel-skin-tango .jcarousel-clip-vertical {
    width: 75px;
    height: 245px;
}
.jcarousel-skin-tango .jcarousel-item {
    height: 49px;
}
.jcarousel-skin-tango .jcarousel-item-horizontal {
    vertical-align: middle;
    text-align: center;
    height: 49px;
    margin: 0 5px 0;
    width: 144px;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
    margin-left: 10px;
    margin-right: 0;
}
.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
}
.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 0px;
    right: auto;
}
/*=========== End Logos Silder ==============*/



.new_title.center {
    padding: 0 0 0px 0;
    text-align: left;
    border-bottom: 1px solid #ccc;
    margin-right: 80px;
}
.new_title {
    color: #000000;
    height: 25px;
    margin: 0 auto 20px;
    text-align: center;
    text-transform: none;
}
.new_title h2 {
    color: #000;
    font-size: 22px;
    font-weight: bold;
    margin-top: 0;
    padding: 6px 10px 2px 0;
    position: relative;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: normal;
    background-color: #FFFFFF;
}
/*============ New & Sale Label ============*/

.new-top-left {
    left: 0px;
    top: 0;
    background: #fff;
    letter-spacing: 1px;
}
.new-top-right {
    background: none repeat scroll 0 0 #FFFFFF;
    right: 0px;
    top: 0;
}
.sale-top-right {
    top: 0;
    background: #fff;
    letter-spacing: 1px;
    right: 0px;
}
.sale-top-left {
    left: 0px;
    top: 0;
    background: #fff;
    letter-spacing: 1px;
}

.new-label {
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    background: #ffc60a;
    text-transform: uppercase;
    padding: 0px;
    text-align: center;
    display: block;
    position: absolute;
    top: 0px;
    z-index: 100;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: normal;
    width: 45px;
    height: 25px;
    line-height: 25px;
    margin-top: 0px;
    margin-left: 0px;
}
.sale-label {
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    background: #d12631;
    text-transform: uppercase;
    padding: 0px;
    text-align: center;
    display: block;
    position: absolute;
    top: 0px;
    z-index: 100;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: normal;
    width: 45px;
    height: 25px;
    line-height: 25px;
    margin-top: 0px;
    margin-right: 0px;
}


/*============ End Banner Sequence CSS ===============*/


.jcarousel-skin-tango4 .jcarousel-item-horizontal {
    vertical-align: middle;
    margin: 0px 25px 8px 0;
    text-align: center;
    width: 175px;
    padding: 0 !important;
    min-height: 275px;
}
.jcarousel-skin-tango4 .jcarousel-direction-rtl .jcarousel-item-horizontal {
    margin-left: 10px;
    margin-right: 0;
}
.jcarousel-skin-tango4.jcarousel-item-vertical {
    margin-bottom: 10px;
}
.jcarousel-skin-tango4 .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}
/**
 *  Horizontal Buttons
 */

.jcarousel-skin-tango4 .jcarousel-next-horizontal {
    cursor: pointer;
    height: 41px;
    margin-left: 202px;
    position: absolute;
    top: -63px;
    width: 35px;
    transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
}
.jcarousel-skin-tango4 .jcarousel-prev-horizontal {
    cursor: pointer;
    height: 41px;
    left: 0px;
    position: absolute;
    top: -63px;
    width: 35px;
    transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
}
.jcarousel-skin-tango4 .jcarousel-next-horizontal:after {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    speak: none;
    -webkit-font-smoothing: antialiased;
    content: "\f105";
    text-transform: none;
    font-size: 24px;
    padding: 0px 15px
}
.jcarousel-skin-tango4 .jcarousel-next-horizontal:hover {
    color: #967adc;
}
.jcarousel-skin-tango4 .jcarousel-prev-horizontal:after {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    speak: none;
    -webkit-font-smoothing: antialiased;
    content: "\f104";
    text-transform: none;
    font-size: 24px;
    padding: 0px 12px
}
.jcarousel-skin-tango4 .jcarousel-prev-horizontal:hover {
    color: #967adc;
}
.related-block .block-content .prod_image_detail .actions {
}
/*********** Best Sales SLIDER ********/

.main-col {
    width: 1170px;
    margin: auto;
    overflow: hidden
}
.best-sales-slider {
    position: relative;
    margin: 22px 0px 0px 0px;
    width: 555px;
    padding: 0px;
    display: inline-block;
}
.jcarousel-next-horizontal1 {
    display: block;
    position: absolute;
    width: 33px;
    height: 30px;
}
.jcarousel-prev-horizontal1 {
    display: block;
    position: absolute;
    width: 33px;
    height: 30px;
}
.jcarousel-prev-horizontal1:after {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    speak: none;
    -webkit-font-smoothing: antialiased;
    content: "\f104";
    text-transform: none;
    font-size: 18px;
    padding: 6px 12px;
    line-height: 30px;
}
.jcarousel-prev-horizontal1 {
    margin: -36px 0 0 0;
    right: 35px;
    background: #f3f3f3;
    color: #666;
    transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
}
.jcarousel-next-horizontal1 {
    margin: -36px 0 0 0px;
    right: -2px;
    background: #f3f3f3;
    color: #666;
    transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
}
.jcarousel-next-horizontal1:before {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    speak: none;
    -webkit-font-smoothing: antialiased;
    content: "\f105";
    text-transform: none;
    font-size: 18px;
    padding: 6px 12px;
    line-height: 30px;
}
.jcarousel-next-horizontal1:hover {
    background: #967adc;
    color: #fff;
}
.jcarousel-prev-horizontal1:hover {
    background: #967adc;
    color: #fff;
}
.jcarousel-skin-tango5 .jcarousel-direction-rtl {
    direction: rtl;
}
.jcarousel-skin-tango5 .jcarousel-container-horizontal {
    margin: 0px;
    padding: 0px;
}
.jcarousel-skin-tango5 .jcarousel-clip {
    overflow: hidden;
}
.jcarousel-skin-tango5 .jcarousel-clip-horizontal {
}
.jcarousel-skin-tango5 .jcarousel-item {
    width: 275px;
    text-align: center;
    min-height: 380px;
    overflow: hidden;
}
.jcarousel-skin-tango5 .jcarousel-item-horizontal {
    margin: 0 21px 0 0 !important;
    position: relative;
    padding: 0;
}
.jcarousel-next-horizontal2 {
    display: block;
    position: absolute;
    width: 33px;
    height: 30px;
}
.jcarousel-prev-horizontal2 {
    display: block;
    position: absolute;
    width: 33px;
    height: 30px;
}
.jcarousel-prev-horizontal2:after {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    speak: none;
    -webkit-font-smoothing: antialiased;
    content: "\f104";
    text-transform: none;
    font-size: 18px;
    padding: 6px 12px;
    line-height: 30px;
}
.jcarousel-prev-horizontal2 {
    margin: -36px 0 0 0;
    right: 35px;
    background: #f3f3f3;
    color: #666;
    transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
}
.jcarousel-next-horizontal2 {
    margin: -36px 0 0 0px;
    right: -2px;
    background: #f3f3f3;
    color: #666;
    transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
}
.jcarousel-next-horizontal2:before {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    speak: none;
    -webkit-font-smoothing: antialiased;
    content: "\f105";
    text-transform: none;
    font-size: 18px;
    padding: 6px 12px;
    line-height: 30px;
}
.jcarousel-next-horizontal2:hover {
    background: #967adc;
    color: #fff;
}
.jcarousel-prev-horizontal2:hover {
    background: #967adc;
    color: #fff;
}


/*detail page view link*/
a.button.view-all:before {
    content: "\f06e";
    font-family: FontAwesome;
    font-size: 13px;
    padding-right: 8px;
}
a.button.view-all {
    display: inline-block;
    border: 0;
    background: #fff;
    padding: 8px 12px;
    font-size: 11px;
    text-align: center;
    white-space: nowrap;
    color: #333;
    font-weight: bold;
    transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    vertical-align: top;
    border: 1px solid #ddd;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}
.button.view-all:hover {
    background: #967adc;
    padding: 8px 12px;
    transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    border: 1px solid #967adc;
    color: #fff;
}
a.button.view-all:before {
    content: "\f06e";
    font-family: FontAwesome;
    font-size: 16px;
    padding-right: 8px;
}
/* wishlist addto links  of edit link*/
.wishlist-index-configure .product-essential .product-shop .add-to-box .btn-cart {
    margin-right: 8px;
}


/* products page */
.jcarousel-skin-tango5 ul.products-grid li.item {
    text-align: center;
    margin-bottom: 30px;
    width: 170px;
}
.jcarousel-skin-tango5 .products-grid .item .item-inner .item-info .info-inner .item-title a {
    font-size: 14px;
    font-weight: normal;
}
.jcarousel-skin-tango5 button.button {
    padding: 6px 10px;
    font-size: 10px;
}
.jcarousel-skin-tango5 ul.products-grid li.item a.thumb {
    position: relative;
    display: block;
    cursor: pointer;
}
.jcarousel-skin-tango5 ul.products-grid li.item a.thumb:hover {
    border-color: #999;
}
ul.products-grid li.item a img.image-hover {
    display: none;
    margin: 0;
}
.jcarousel-skin-tango5 ul.products-grid li.item a.thumb span.quick-view {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto 0;
    height: 35px;
    overflow: hidden;
}
.jcarousel-skin-tango5 ul.products-grid li.item a.thumb span.quick-view span {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 9px;
    text-transform: uppercase;
    font-weight: 700;
    color: #0a0a0a;
    padding: 8px 0 5px;
    background: rgba(255, 255, 255, 0.9);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.jcarousel-skin-tango5 ul.products-grid li.item a.thumb span.quick-view span i {
    display: inline-block;
    width: 10px;
    height: 10px;
    vertical-align: middle;
    margin-top: -1px;
    background: url('../images/quick-view.png') no-repeat center;
    padding-right: 12px;
}
/* === FLIP 3D === */
.jcarousel-skin-tango5 ul.products-grid li.item .product-wrapper {
    position: relative;
    margin-top: 20px;
}
.jcarousel-skin-tango5 ul.products-grid li.item a.thumb.flip {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.5s linear;
    -moz-transition: -moz-transform 0.5s linear;
    -ms-transition: -moz-transform 0.5s linear;
    transition: transform 0.5s linear;
}
.jcarousel-skin-tango5 ul.products-grid li.item .product-wrapper .thumb-wrapper {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
}
.jcarousel-skin-tango5 ul.products-grid li.item .product-wrapper .thumb-wrapper:hover a.thumb.flip {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.jcarousel-skin-tango5 ul.products-grid li.item .product-wrapper a.thumb.flip .face {
    display: block;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    position: relative;
    z-index: 1;
}
.jcarousel-skin-tango5 ul.products-grid li.item .product-wrapper a.thumb.flip .face.back {
    display: block;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 10;
}
.recommend-pro {
    width: 1170px;
    margin: auto;
    position: relative;
    margin-top: 25px;
}
.recommend-pro li {
    width: 178px !important;
}

/* products page */
.jcarousel-skin-tango4 ul.products-grid li.item {
    text-align: center;
    margin-bottom: 30px;
    width: 175px;
}
.jcarousel-skin-tango4 .products-grid .item .item-inner .item-info .info-inner .item-title a {
    font-size: 14px;
    font-weight: normal;
}
.jcarousel-skin-tango4 ul.products-grid li.item a.thumb {
    position: relative;
    display: block;
}
.jcarousel-skin-tango4 ul.products-grid li.item a.thumb:hover {
    border-color: #999;
}
ul.products-grid li.item a img.image-hover {
    display: none;
    margin: 0;
}
.jcarousel-skin-tango4 ul.products-grid li.item a.thumb span.quick-view {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto 0;
    height: 35px;
    overflow: hidden;
}
.jcarousel-skin-tango4 ul.products-grid li.item a.thumb span.quick-view span {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 9px;
    text-transform: uppercase;
    font-weight: 700;
    color: #0a0a0a;
    padding: 8px 0 5px;
    background: rgba(255, 255, 255, 0.9);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.jcarousel-skin-tango4 ul.products-grid li.item a.thumb span.quick-view span i {
    display: inline-block;
    width: 10px;
    height: 10px;
    vertical-align: middle;
    margin-top: -1px;
    background: url('../images/quick-view.png') no-repeat center;
    padding-right: 12px;
}
/* === FLIP 3D === */
.jcarousel-skin-tango4 ul.products-grid li.item .product-wrapper {
    position: relative;
    margin-top: 20px;
}
.jcarousel-skin-tango4 ul.products-grid li.item a.thumb.flip {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.5s linear;
    -moz-transition: -moz-transform 0.5s linear;
    -ms-transition: -moz-transform 0.5s linear;
    transition: transform 0.5s linear;
}
.jcarousel-skin-tango4 ul.products-grid li.item .product-wrapper .thumb-wrapper {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
}
.jcarousel-skin-tango4 ul.products-grid li.item .product-wrapper .thumb-wrapper:hover a.thumb.flip {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.jcarousel-skin-tango4 ul.products-grid li.item .product-wrapper a.thumb.flip .face {
    display: block;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    position: relative;
    z-index: 1;
}
.jcarousel-skin-tango4 ul.products-grid li.item .product-wrapper a.thumb.flip .face.back {
    display: block;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 10;
    cursor: pointer;
}
.custom-img {
    margin: 25px 0 0;
}
.producttabs {
    margin-top: 20px
}


.best-sales-pro {
    width: 1170px;
    margin: auto;
    position: relative;
    margin-top: 25px;
}
.best-sales-pro li {
    width: 258px !important;
    margin-right: 45px !important;
}

.our-features-box.mob {
    display: none;
}
