@import url(libs/_theme.less);
@import url(libs/_sidebar.less);
@import url(libs/_menu.less);

main, section, aside, header, footer figure, figcaption {
  display: block;
}

body {
  background: @defaultThemeColor;
  color: @darkPurple;
  font: @defaultFont;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  -webkit-font-smoothing: antialised;
  -webkit-user-select: none;
}

#leftside {
  float: left;
  padding: 1%;
  height: 900px;
  width: 20%;
}

main {
  float: left;
  padding: 1%;
  height: 900px;
  width: 60%;
  h2 {
    color: @h2Color;
    //.TextShadow(-2px,1px,0px, black);
    //text-decoration-style: wavy;
  }
  hr { display: block; height: 1px;
    border: 0; border-top: 1px solid @h2Color;
    margin: 1em 0; padding: 0; }
}

aside {
  float: left;
  padding: 1%;
  height: 900px;
  width: 20%;
}

footer {
  //background-color:@headerBg;
  //color:@zaresetBg;
  border-top: solid red 1px;
  clear: both;
  text-align: center;
  padding: 5px;
  div {
    margin:0 0 2% 0;
    font-size: 16px;
    a {
      color: #000000;
      margin: 2%;
      &:hover {
        color: @links;
      }
    }
  }
}

a {
  color: @links;
  text-decoration: none;
  &:hover {
    color: @linksHover;
    //.TextShadow(1px,1px,1px, @zaresetBg);
  }
}








