@(bodyHeader: String)
@import play.i18n._
@main(Messages.get(bodyHeader), Application.getCurrentLang) {

    <div class="col-md-3 col-sm-4">
        <p>
            <button class="btn btn-default btn-lg"><i class="fa fa-spinner fa-spin"></i></button>
            <button class="btn btn-default btn-lg"><i class="fa fa-circle-o-notch fa-spin"></i></button>
            <button class="btn btn-default btn-lg"><i class="fa fa-refresh fa-spin"></i></button>
            <button class="btn btn-default btn-lg"><i class="fa fa-cog fa-spin"></i></button>
        </p>
    </div>
}
