@(title: String, l: Lang)(content: Html)
@import views.html.util.categoryList
@import play.i18n.Messages
<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
        <script src="@routes.Assets.at("javascripts/main.js")"></script>
    </head>
    <body>
        <header class="sticky">
            <h2><a href="@routes.Application.index()" >@Messages.get("zarest")</a></h2>
            @helper.form(action = routes.Application.changeLocale(), 'class -> "change-locale") {
                <label>@Messages.get("language")
                    <select name="locale" id="language">
                    @play.api.i18n.Lang.availables(play.api.Play.current).map { lang =>
                        <option value="@lang.code" @(if(l.code == lang.code) "selected")>@Messages.get("lang." + lang.code)</option>
                    }
                    </select>
                </label>
            }
        </header>
        <nav class="sticky">
            <div class='top_menu'>
                <ul>
                    <li><a href="@routes.Application.index()"><span>@Messages.get("home")</span></a></li>
                    <li class='active has-sub'><a href="@routes.Application.productPage()"><span>@Messages.get("products")</span></a>
                        @categoryList()
                    </li>
                    <li> <a href="@routes.Application.aboutUsPage()"><span>@Messages.get("aboutUs")</span></a></li>
                    <li class='last'><a href="@routes.Application.contactUs()"><span>@Messages.get("contactUs")</span></a></li>
                </ul>
            </div>
        </nav>
        <section id="leftside">
            <div id="left_side">
            @sidebar()
            </div>
        </section>
        <main>
            <div id="main">
                <h2>@title</h2>
                <hr >
                @content
            </div>
        </main>
        <aside>
            <div id="right_side">
            @sidebar()
            </div>
        </aside>
        <footer>
            <div class="list-group">
                <a class="list-group-item"  href="@routes.Application.index()"><i class="fa fa-home fa-fw"></i>&nbsp; @Messages.get("home")</a>
                <a class="list-group-item"  href="@routes.Application.productPage()"><i class="fa fa-gift fa-fw"></i>&nbsp; @Messages.get("products")</a>
                <a class="list-group-item"  href="@routes.Application.contactUs()"><i class="fa fa-phone fa-fw"></i>&nbsp; @Messages.get("contactUs")</a>
                <a class="list-group-item"  href="@routes.Application.aboutUsPage()"><i class="fa fa-envelope fa-fw"></i>&nbsp; @Messages.get("aboutUs")</a>
                <a class="list-group-item"  href="@routes.Administration.adminPage()"><i class="fa fa-cog fa-fw"></i>&nbsp; @Messages.get("settings")</a>
            </div>
            @Messages.get("footer")
        </footer>

    </body>
</html>
