@(title: String, l: Lang)(content: Html)
    @import play.i18n._

<!DOCTYPE html>

    <html>
        <head>
            <title>@title</title>
            <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
            <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
            <script src="@routes.Assets.at("javascripts/hello.js")" type="text/javascript"></script>
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script>
            $ ( document ).ready ( function ( ) {
            $ ( "#language" ).change ( function ( ) {
            $ ( this ).closest ( 'form' ).trigger ( 'submit' ) ;

            } ) ;
            var lang = $("#language" ).val();
                if(lang == "fa" ) {
                    $(document.body ).attr('style','direction: rtl');
                } else {
                   $(document.body ).attr('style','direction: ltr');
                }

            } ) ;
            </script>
        </head>
        <body>
            <header>
                <h2>@Messages.get("zarest")</h2>
                @helper.form(action = routes.Application.changeLocale(), 'class -> "change-locale") {
                    <label>@Messages.get("language")
                        <select name="locale" id="language">
                        @play.api.i18n.Lang.availables(play.api.Play.current).map { lang =>
                            <option value="@lang.code" @(if(l.code == lang.code) "selected")>@Messages.get("lang." + lang.code)</option>
                        }
                        </select>
                    </label>
                }
            </header>
            <nav>
                <div id="nav">
                    <a href="/index">@Messages.get("home")</a>
                    <a href="/products">@Messages.get("products")</a>
                    <a href="/aboutUs">@Messages.get("aboutUs")</a>
                    <a href="/app">@Messages.get("admin")</a>
                </div>
            </nav>
            <section id="leftSide">
            This is left side
            </section>
            <main>
                <div id="main">
                @content
                </div>
            </main>
            <aside>
            this is aside
            </aside>
            <footer>
            @Messages.get("footer")
            </footer>

        </body>
    </html>
