@(bodyHeader: String, currentPage: com.avaje.ebean.Page[Product], pageSize: Int,
        currentSortBy: String, currentOrder: String, currentFilter: String, list: Boolean)
    @import views.html.util._
    @import play.i18n._
        @****************************************
        * Helper generating navigation links *
        ****************************************@
    @link(newPage: Int, newSortBy: String) = @{

        var sortBy = currentSortBy
        var order = currentOrder

        if(newSortBy != null) {
            sortBy = newSortBy
            if(currentSortBy == newSortBy) {
                if(currentOrder == "asc") {
                    order = "desc"
                } else {
                    order = "asc"
                }
            } else {
                order = "asc"
            }
        }
        //, int page, int pageSize, String sortBy, String order, String filter
        // Generate the link
        routes.Application.categoryProduct(request.path.toString().substring(10), list, newPage, pageSize, sortBy, order, currentFilter)

    }

    @main(Messages.get(bodyHeader), Application.getCurrentLang) {
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/productList.css")"
        xmlns="http://www.w3.org/1999/html">
        @mainContent(Messages.get(bodyHeader)) {
            <div class="container-fluid">
                <div class="row toolbar">
                    <div class="col-xs-2" id="viewOption">
                        <a href="@routes.Application.categoryProduct(request.path.toString().substring(10), true, currentPage.getPageIndex, pageSize, currentSortBy, currentOrder, currentFilter)" class="btn-cart @{
                            if(list) "active"
                        }"><i class="fa fa-list fa-lg"></i></a>
                        <a href="@routes.Application.categoryProduct(request.path.toString().substring(10), false, currentPage.getPageIndex, pageSize, currentSortBy, currentOrder, currentFilter)" class="btn-cart @{
                            if(!list) "active"
                        }"><i class="fa fa-th fa-lg"></i></a>
                    </div>
                    <div class="col-xs-4">
                        <ul class="pagination">

                            @if(currentPage.hasPrev) {
                                <li class="prev">
                                    <a href="@link(0, null)">&laquo;</a>
                                </li>
                                <li class="prev">
                                    <a href="@link(currentPage.getPageIndex - 1, null)"> @Messages.get("previous")</a>
                                </li>
                            } else {
                                <li class="prev disabled">
                                    <a href="@link(0, null)">&laquo;</a>
                                </li>
                                <li class="prev disabled">
                                    <a> @Messages.get("previous")</a>
                                </li>
                            }
                            <li class="current hidden-xs hidden-sm">
                                <a>@currentPage.getDisplayXtoYofZ(" " + Messages.get("to") + " ", " " + Messages.get("of") + " ")</a>
                            </li>
                            @if(currentPage.hasNext) {
                                <li class="next">
                                    <a href="@link(currentPage.getPageIndex + 1, null)">@Messages.get("next")</a>
                                </li>
                                <li class="next">
                                    <a href="@link(currentPage.getTotalPageCount - 1, null)">&raquo;</a>
                                </li>
                            } else {
                                <li class="next disabled">
                                    <a>@Messages.get("next")</a>
                                </li>
                                <li class="next disabled">
                                    <a href="@link(currentPage.getTotalPageCount - 1, null)">&raquo;</a>
                                </li>
                            }

                        </ul>
                    </div>
                    <div class="col-xs-6">
                        <form action="@routes.Application.categoryProduct(request.path.toString().substring(10))" method="GET" class="form-inline pull-right">
                            <div class="form-group">
                                <label for="pageSize">@Messages.get("view") </label>
                                <select  name="pageSize" id="pageSize" class="form-control input-sm">
                                    <option value="12" @{if(pageSize == 12) "selected"}>12</option>
                                    <option value="24" @{if(pageSize == 24) "selected"}>24</option>
                                    <option value="48" @{if(pageSize == 48) "selected"}>48</option>
                                </select>
                            </div>
                            <input type="hidden" name="list" value="@list">
                            <div class="form-group">
                                <label for="sortBy">@Messages.get("sortBy") </label>
                                <select name="sortBy" id="sortBy" class="form-control input-sm">
                                    <option value="productName" @{if(currentSortBy == "productName") "selected"}>@Messages.get("name")</option>
                                    <option value="unitPrice" @{if(currentSortBy == "unitPrice") "selected"}>@Messages.get("price")</option>
                                    <option value="date" @{if(currentSortBy == "date") "selected"}>@Messages.get("date")</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <a href="@link(currentPage.getPageIndex, currentSortBy)" class="btn-cart @if(currentOrder == "asc") {
                                    asc
                                } else {
                                    desc
                                }"></a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            @if(list) {
                @showProductListView(currentPage, currentSortBy, currentOrder, currentFilter)
            } else {
                @showProductGridView(currentPage, currentSortBy, currentOrder, currentFilter,list)
            }
        }

    }